MODEL_NAME=sentence-transformers/paraphrase-multilingual-mpnet-base-v2
LAWYERS_DATA_PATH=data/lawyers.sample.json
DEFAULT_TOP_K=5
MIN_SIMILARITY_SCORE=0.25
FLASK_HOST=0.0.0.0
FLASK_PORT=5050
FLASK_DEBUG=false
