# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.pytest_cache/
.coverage

# IDE directories
.idea/
.vscode/

# Local data/artifacts
data/*.npy
data/*.pt
data/*.bin

